
__pycache__/
*.py[cod]
*$py.class


venv/
.env
.env.* 
.venv/
env/
ENV/


build/
dist/
*.egg-info/
data/*.json


*.log
*.sqlite3


.vscode/
.idea/
.DS_Store
Thumbs.db


*.tar
docker-compose.override.yml


.pytest_cache/


__pypackages__/


secret.* 
credentials.json


*.dll
*.so
*.dylib

data/*.json