server:
  port: 2333
  address: 0.0.0.0

lavalink:
  server:
    password: "eggmanpassword"
    sources:
      youtube: false
      soundcloud: true
      bandcamp: true
      http: true
      local: false

logging:
  level:
    root: INFO
